/* Hierarchical heading numbering - Display-only mode */
/* Target the actual Logseq block structure with heading property */
body.lse-heading-numbering-display {
    counter-reset: h1;
}

body.lse-heading-numbering-display #main-content-container div.ls-block[data-refs-self*="\"heading\" 1"]::before {
    counter-increment: h1;
    counter-reset: h2;
}

body.lse-heading-numbering-display #main-content-container div.ls-block[data-refs-self*="\"heading\" 2"]::before {
    counter-increment: h2;
    counter-reset: h3;
}

body.lse-heading-numbering-display #main-content-container div.ls-block[data-refs-self*="\"heading\" 3"]::before {
    counter-increment: h3;
    counter-reset: h4;
}

body.lse-heading-numbering-display #main-content-container div.ls-block[data-refs-self*="\"heading\" 4"]::before {
    counter-increment: h4;
    counter-reset: h5;
}

body.lse-heading-numbering-display #main-content-container div.ls-block[data-refs-self*="\"heading\" 5"]::before {
    counter-increment: h5;
    counter-reset: h6;
}

body.lse-heading-numbering-display #main-content-container div.ls-block[data-refs-self*="\"heading\" 6"]::before {
    counter-increment: h6;
}

/* Heading level markers (H1, H2, etc.) */
/* Target the heading content within blocks */
body.lse-heading-level-mark #main-content-container div.ls-block[data-refs-self*="\"heading\" 1"] .block-content::after {
    content: "H1";
    margin-left: 0.5em;
    font-size: 0.65em;
    opacity: 0.4;
    font-weight: normal;
    color: var(--ls-secondary-text-color);
}

body.lse-heading-level-mark #main-content-container div.ls-block[data-refs-self*="\"heading\" 2"] .block-content::after {
    content: "H2";
    margin-left: 0.5em;
    font-size: 0.65em;
    opacity: 0.4;
    font-weight: normal;
    color: var(--ls-secondary-text-color);
}

body.lse-heading-level-mark #main-content-container div.ls-block[data-refs-self*="\"heading\" 3"] .block-content::after {
    content: "H3";
    margin-left: 0.5em;
    font-size: 0.65em;
    opacity: 0.4;
    font-weight: normal;
    color: var(--ls-secondary-text-color);
}

body.lse-heading-level-mark #main-content-container div.ls-block[data-refs-self*="\"heading\" 4"] .block-content::after {
    content: "H4";
    margin-left: 0.5em;
    font-size: 0.65em;
    opacity: 0.4;
    font-weight: normal;
    color: var(--ls-secondary-text-color);
}

body.lse-heading-level-mark #main-content-container div.ls-block[data-refs-self*="\"heading\" 5"] .block-content::after {
    content: "H5";
    margin-left: 0.5em;
    font-size: 0.65em;
    opacity: 0.4;
    font-weight: normal;
    color: var(--ls-secondary-text-color);
}

body.lse-heading-level-mark #main-content-container div.ls-block[data-refs-self*="\"heading\" 6"] .block-content::after {
    content: "H6";
    margin-left: 0.5em;
    font-size: 0.65em;
    opacity: 0.4;
    font-weight: normal;
    color: var(--ls-secondary-text-color);
}
