#main-container.is-left-sidebar-open {
    @media (min-width: 640px) {
        padding-left: 3em;

        & div.cp__sidebar-left-layout.is-open {
            --sb-fade: all .3s ease-in-out;
            transition: var(--sb-fade);

            &:not(:hover) div.left-sidebar-inner {
                width: 0;
                opacity: 0;
                padding-right: 33px;
                /* activation field */
                transition: var(--sb-fade);

                & div.flex div:not(.nav-contents-container) {
                    display: none;
                    opacity: 0;
                    transition: var(--sb-fade);
                }
            }
        }
    }
}